<!-- <div class="container"> -->
<div class="board">

    <div class="up-left-area">
        <app-bar drag-over id="13" [pos]="13" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="14" [pos]="14" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="15" [pos]="15" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="16" [pos]="16" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="17" [pos]="17" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="18" [pos]="18" [gamePos]="gamePosition" class="bar"></app-bar>
    </div>

    <div class="up-right-area">
        <app-bar drag-over id="19" [pos]="19" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="20" [pos]="20" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="21" [pos]="21" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="22" [pos]="22" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="23" [pos]="23" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="24" [pos]="24" [gamePos]="gamePosition" class="bar"></app-bar>
    </div>

    <div class="down-left-area">
        <app-bar drag-over id="12" [pos]="12" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="11" [pos]="11" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="10" [pos]="10" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="9" [pos]="9" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="8" [pos]="8" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="7" [pos]="7" [gamePos]="gamePosition" class="bar"></app-bar>
    </div>

    <div class="down-right-area">
        <app-bar drag-over id="6" [pos]="6" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="5" [pos]="5" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="4" [pos]="4" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="3" [pos]="3" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="2" [pos]="2" [gamePos]="gamePosition" class="bar"></app-bar>
        <app-bar drag-over id="1" [pos]="1" [gamePos]="gamePosition" class="bar"></app-bar>
    </div>
</div>
<!-- </div> -->


























<!-- <div class="board">
    <div class="left-bin">
        <div class="top-row">

            <app-bar [pos]="13" [style]="'arrow-down odd'"></app-bar>
            <app-bar [pos]="14" [style]="'arrow-down even'"></app-bar>
            <app-bar [pos]="15" [style]="'arrow-down odd'"></app-bar>
            <app-bar [pos]="16" [style]="'arrow-down even'"></app-bar>
            <app-bar [pos]="17" [style]="'arrow-down odd'"></app-bar>
            <app-bar [pos]="18" [style]="'arrow-down even'"></app-bar>
        </div>

        <div class="bottom-row">

            <app-bar [pos]="12" [style]="'arrow-up odd'"></app-bar>
            <app-bar [pos]="11" [style]="'arrow-up even'"></app-bar>
            <app-bar [pos]="10" [style]="'arrow-up odd'"></app-bar>
            <app-bar [pos]="9" [style]="'arrow-up even'"></app-bar>
            <app-bar [pos]="8" [style]="'arrow-up odd'"></app-bar>
            <app-bar [pos]="7" [style]="'arrow-up even'"></app-bar>
        </div>
    </div>

    <div class="middle-bar"></div>

    <div class="right-bin">
        <div class="top-row">
            <app-bar [pos]="19" [style]="'arrow-down odd'"></app-bar>
            <app-bar [pos]="20" [style]="'arrow-down even'"></app-bar>
            <app-bar [pos]="21" [style]="'arrow-down odd'"></app-bar>
            <app-bar [pos]="22" [style]="'arrow-down even'"></app-bar>
            <app-bar [pos]="23" [style]="'arrow-down odd'"></app-bar>
            <app-bar [pos]="24" [style]="'arrow-down even'"></app-bar>
        </div>

        <div class="bottom-row">

            <app-bar [pos]="6" [style]="'arrow-up odd'"></app-bar>
            <app-bar [pos]="5" [style]="'arrow-up even'"></app-bar>
            <app-bar [pos]="4" [style]="'arrow-up odd'"></app-bar>
            <app-bar [pos]="3" [style]="'arrow-up even'"></app-bar>
            <app-bar [pos]="2" [style]="'arrow-up odd'"></app-bar>
            <app-bar [pos]="1" [style]="'arrow-up even'"></app-bar>
        </div>
    </div>





    <div class="piece_1" draggable="true"></div>
    <div class="piece" draggable="true"></div>
    <div class="piece white" draggable="true"></div>
    <div class="piece" draggable="true"></div>
    <div class="piece" draggable="true"></div>
    <div class="piece"></div> 

</div> -->